[Unit]
Description=Example service for monitoring
[Service]
ExecStart=python /opt/mymonitor_example/mymonitor.py
User=root
[Install]
WantedBy=multi-user.target